body {
    box-sizing: inherit;
    margin: 0;
    font-family: 'Poppins';
    font-size: 22px;
    text-align: justify;
}

.navbar {
    display: flex;
    background-color: black;
}

.navbar__items {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.navbar__item {
    color: white;
    padding: 0 20px;
}

.navbar__item a {
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

.navbar__item.navbar__item--active a {
    color: white;
}

.navbar__item:hover.navbar__item--active a {
    color: white;
}

.navbar__item a:hover {
    color: rgba(255,255,255,.75);
}

.padding-d {
    padding: 20px;
}

.section {
    padding: 40px;
}

.section__content {
    display: flex;
}

.section__main {
    width: 60%;
}

.section__main--full {
    width: 100%;
}

.section__asside {
    width: 40%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image__wrapper img {
    width: 100%;
    max-width: 100%;
}

.image__wrapper.profile img {
    width: 100px;
    max-width: 100%;
    border-radius: 50%;
    width: 110px;
    height: 122px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 0 1px black;
}